In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pymongo
import pandas as pd
import numpy as np
import geopandas as gpd
from dotenv import load_dotenv
import os
from pyspark.sql import SparkSession

In [2]:
load_dotenv()

def get_env(envName):
    return os.environ.get(envName)

MONGO_URL = get_env('MONGO_URL') 
SPARK_CONNECTOR = get_env('SPARK_CONNECTOR')

print(MONGO_URL)
print(SPARK_CONNECTOR)

mongodb+srv://user1:123@cluster0.1xjq9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
org.mongodb.spark:mongo-spark-connector_2.12:10.4.0

## Mongodb

### Pymongo Way

In [3]:
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('db_test1')
coll = db['coll_test1']

In [4]:
data = coll.find()
pymongoDf = pd.DataFrame(list(data))

# df.reset_index(names=['animal name'])
pymongoDf.head(5)

,_id,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,674fb7b85e1c45d09b0b1d68,aardvark,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
1,674fb7b85e1c45d09b0b1d69,antelope,True,False,False,True,False,False,False,True,True,True,False,False,4,True,False,True,mammal
2,674fb7b85e1c45d09b0b1d6a,bass,False,False,True,False,False,True,True,True,True,False,False,True,0,True,False,False,fish
3,674fb7b85e1c45d09b0b1d6b,bear,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
4,674fb7b85e1c45d09b0b1d6c,boar,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True,mammal

### Spark way

In [3]:
spark = SparkSession.builder \
    .master("spark://172.22.0.2:7077") \
    .appName("Python Spark SQL basic example") \
    .config("spark.jars.packages", SPARK_CONNECTOR) \
    .config('spark.mongodb.read.connection.uri', MONGO_URL) \
    .config('spark.mongodb.write.connection.uri', MONGO_URL) \
    .config('spark.mongodb.output.uri', MONGO_URL) \
    .config('spark.mongodb.input.uri', MONGO_URL) \
    .getOrCreate()

:: loading settings :: url = jar:file:/usr/local/lib/python3.8/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-55e8aa52-2fd0-47b0-bb60-7d8d04719cec;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;10.4.0 in central
	found org.mongodb#mongodb-driver-sync;5.1.4 in central
	[5.1.4] org.mongodb#mongodb-driver-sync;[5.1.1,5.1.99)
	found org.mongodb#bson;5.1.4 in central
	found org.mongodb#mongodb-driver-core;5.1.4 in central
	found org.mongodb#bson-record-codec;5.1.4 in central
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/10.4.0/mongo-spark-connector_2.12-10.4.0.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector_2.12;10.4.0!mongo-spark-connector_2.12.jar (1393ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-sync/5.1.4/mongodb-driver-sync-5.1.4.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-sync;5.1.4!mongodb-driver-sync.jar (701ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson/5.1.4/bson-5.1.4.jar ...
	[SUCCESSFUL ] org.mongodb#bson;5.1.4!bson.jar (1740ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/5.1.4/mongodb-driver-core-5.1.4.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-core;5.1.4!mongodb-driver-core.jar (2472ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson-record-codec/5.1.4/bson-record-codec-5.1.4.jar ...
	[SUCCESSFUL ] org.mongodb#bson-record-codec;5.1.4!bson-record-codec.jar (581ms)
:: resolution report :: resolve 13302ms :: artifacts dl 6912ms
	:: modules in use:
	org.mongodb#bson;5.1.4 from central in [default]
	org.mongodb#bson-record-codec;5.1.4 from central in [default]
	org.mongodb#mongodb-driver-core;5.1.4 from central in [default]
	org.mongodb#mongodb-driver-sync;5.1.4 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;10.4.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   5   |   5   |   5   |   0   ||   5   |   5   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-55e8aa52-2fd0-47b0-bb60-7d8d04719cec
	confs: [default]
	5 artifacts copied, 0 already retrieved (2522kB/13ms)
24/12/05 08:11:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
sparkDf = spark.read.format('mongodb')\
    .option('database', 'db_test1')\
    .option('collection','coll_test1')\
    .load()

sparkDf.head(10)

Py4JJavaError: An error occurred while calling o56.load.
: com.mongodb.MongoTimeoutException: Timed out while waiting for a server that matches ReadPreferenceServerSelector{readPreference=primary}. Client view of cluster state is {type=REPLICA_SET, srvResolutionException=com.mongodb.MongoConfigurationException: Failed looking up SRV record for '_mongodb._tcp.cluster0.1xjq9.mongodb.net'., servers=[]
	at com.mongodb.internal.connection.BaseCluster.createAndLogTimeoutException(BaseCluster.java:392)
	at com.mongodb.internal.connection.BaseCluster.selectServer(BaseCluster.java:148)
	at com.mongodb.internal.connection.AbstractMultiServerCluster.selectServer(AbstractMultiServerCluster.java:54)
	at com.mongodb.internal.binding.ClusterBinding.getReadConnectionSource(ClusterBinding.java:108)
	at com.mongodb.client.internal.ClientSessionBinding.getConnectionSource(ClientSessionBinding.java:128)
	at com.mongodb.client.internal.ClientSessionBinding.getReadConnectionSource(ClientSessionBinding.java:92)
	at com.mongodb.internal.operation.SyncOperationHelper.withSuppliedResource(SyncOperationHelper.java:141)
	at com.mongodb.internal.operation.SyncOperationHelper.withSourceAndConnection(SyncOperationHelper.java:122)
	at com.mongodb.internal.operation.SyncOperationHelper.lambda$executeRetryableRead$4(SyncOperationHelper.java:186)
	at com.mongodb.internal.operation.SyncOperationHelper.lambda$decorateReadWithRetries$12(SyncOperationHelper.java:289)
	at com.mongodb.internal.async.function.RetryingSyncSupplier.get(RetryingSyncSupplier.java:67)
	at com.mongodb.internal.operation.SyncOperationHelper.executeRetryableRead(SyncOperationHelper.java:191)
	at com.mongodb.internal.operation.SyncOperationHelper.executeRetryableRead(SyncOperationHelper.java:173)
	at com.mongodb.internal.operation.AggregateOperationImpl.execute(AggregateOperationImpl.java:189)
	at com.mongodb.internal.operation.AggregateOperation.execute(AggregateOperation.java:153)
	at com.mongodb.internal.operation.AggregateOperation.execute(AggregateOperation.java:44)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:153)
	at com.mongodb.client.internal.MongoIterableImpl.execute(MongoIterableImpl.java:130)
	at com.mongodb.client.internal.MongoIterableImpl.iterator(MongoIterableImpl.java:90)
	at com.mongodb.client.internal.MongoIterableImpl.forEach(MongoIterableImpl.java:116)
	at com.mongodb.client.internal.MongoIterableImpl.into(MongoIterableImpl.java:125)
	at com.mongodb.spark.sql.connector.schema.InferSchema.lambda$inferSchema$0(InferSchema.java:106)
	at com.mongodb.spark.sql.connector.config.AbstractMongoConfig.withClient(AbstractMongoConfig.java:182)
	at com.mongodb.spark.sql.connector.config.ReadConfig.withClient(ReadConfig.java:47)
	at com.mongodb.spark.sql.connector.schema.InferSchema.inferSchema(InferSchema.java:83)
	at com.mongodb.spark.sql.connector.MongoTableProvider.inferSchema(MongoTableProvider.java:60)
	at org.apache.spark.sql.execution.datasources.v2.DataSourceV2Utils$.getTableFromProvider(DataSourceV2Utils.scala:90)
	at org.apache.spark.sql.execution.datasources.v2.DataSourceV2Utils$.loadV2Source(DataSourceV2Utils.scala:140)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$1(DataFrameReader.scala:210)
	at scala.Option.flatMap(Option.scala:271)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:208)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [12]:
pymongoDf.dtypes

_id            object
animal name    object
hair             bool
feathers         bool
eggs             bool
milk             bool
airborne         bool
aquatic          bool
predator         bool
toothed          bool
backbone         bool
breathes         bool
venomous         bool
fins             bool
legs            int64
tail             bool
domestic         bool
catsize          bool
type           object
dtype: object

In [13]:
print(pymongoDf.isna().sum())

_id            0
animal name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
type           0
dtype: int64

In [14]:
print(pymongoDf.eq(0).sum())

_id             0
animal name     0
hair           56
feathers       78
eggs           41
milk           57
airborne       75
aquatic        61
predator       42
toothed        37
backbone       16
breathes       21
venomous       90
fins           80
legs           22
tail           24
domestic       84
catsize        54
type            0
dtype: int64

In [15]:
pymongoDf.describe(include='all')

,_id,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
count,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97.000000,97,97,97,97
unique,97,96,2,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,7
top,674fb7b85e1c45d09b0b1d68,frog,False,False,True,False,False,False,True,True,True,True,False,False,NaN,True,False,False,mammal
freq,1,2,56,78,56,57,75,61,55,60,81,76,90,80,NaN,73,84,54,40
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.835052,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.024230,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN