In [43]:
import seaborn as sns
import matplotlib.pyplot as plt
import pymongo
import pandas as pd
import numpy as np
import geopandas as gpd
from dotenv import load_dotenv
import os
from pyspark.sql import SparkSession

In [29]:
load_dotenv()

def get_env(envName):
    return os.environ.get(envName)

MONGO_URL = get_env('MONGO_URL') 

print(MONGO_URL)

mongodb+srv://user1:123@cluster0.1xjq9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

## Mongodb

### Pymongo Way

In [6]:
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('db_test1')
coll = db['coll_test1']

In [7]:
data = coll.find()
pymongoDf = pd.DataFrame(list(data))

# df.reset_index(names=['animal name'])
pymongoDf.head(5)

,_id,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,674fb7b85e1c45d09b0b1d68,aardvark,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
1,674fb7b85e1c45d09b0b1d69,antelope,True,False,False,True,False,False,False,True,True,True,False,False,4,True,False,True,mammal
2,674fb7b85e1c45d09b0b1d6a,bass,False,False,True,False,False,True,True,True,True,False,False,True,0,True,False,False,fish
3,674fb7b85e1c45d09b0b1d6b,bear,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
4,674fb7b85e1c45d09b0b1d6c,boar,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True,mammal

### Spark way

In [87]:
# spark = SparkSession.builder \
#     .appName("Python Spark SQL basic example") \
#     .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
#     .getOrCreate()

CONNECTOR_URL = "org.mongodb.spark:mongo-spark-connector_2.13:10.4.0"

spark = SparkSession.builder \
    .appName("HelloWorld") \
    .config('spark.mongodb.read.connection.uri', MONGO_URL) \
    .config("spark.jars.packages", CONNECTOR_URL) \
    .getOrCreate()
    # .master("spark://localhost:4042") \
    # .config('spark.mongodb.output.uri', MONGO_URL) \

# spark.stop()

Py4JJavaError: An error occurred while calling o288.load.
: org.apache.spark.SparkClassNotFoundException: [DATA_SOURCE_NOT_FOUND] Failed to find the data source: mongodb. Please find packages at `https://spark.apache.org/third-party-projects.html`.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.dataSourceNotFoundError(QueryExecutionErrors.scala:725)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:647)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:697)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:208)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at jdk.internal.reflect.GeneratedMethodAccessor15.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: java.lang.ClassNotFoundException: mongodb.DefaultSource
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:593)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:526)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$5(DataSource.scala:633)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$4(DataSource.scala:633)
	at scala.util.Failure.orElse(Try.scala:224)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:633)
	... 14 more

In [89]:
print(MONGO_URL)

# numbers_rdd = spark.sparkContext.parallelize(range(1, 1000))

# dataFrame = spark.read \
#     .format("mongodb") \
#     .option("database", "people") \
#     .option("collection", "contacts") \
#     .load()
# option("database", 'db_test1').option("spark.mongodb.input.uri", MONGO_URL).option("collection","coll_test1").load()

spark.read.format('mongodb').option('database', 'db_test1').option('collection', 'coll_test1').load()
# .load()

mongodb+srv://user1:123@cluster0.1xjq9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

Py4JJavaError: An error occurred while calling o298.load.
: org.apache.spark.SparkClassNotFoundException: [DATA_SOURCE_NOT_FOUND] Failed to find the data source: mongodb. Please find packages at `https://spark.apache.org/third-party-projects.html`.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.dataSourceNotFoundError(QueryExecutionErrors.scala:725)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:647)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:697)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:208)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at jdk.internal.reflect.GeneratedMethodAccessor15.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: java.lang.ClassNotFoundException: mongodb.DefaultSource
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:593)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:526)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$5(DataSource.scala:633)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$4(DataSource.scala:633)
	at scala.util.Failure.orElse(Try.scala:224)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:633)
	... 14 more

In [12]:
pymongoDf.dtypes

_id            object
animal name    object
hair             bool
feathers         bool
eggs             bool
milk             bool
airborne         bool
aquatic          bool
predator         bool
toothed          bool
backbone         bool
breathes         bool
venomous         bool
fins             bool
legs            int64
tail             bool
domestic         bool
catsize          bool
type           object
dtype: object

In [13]:
print(pymongoDf.isna().sum())

_id            0
animal name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
type           0
dtype: int64

In [14]:
print(pymongoDf.eq(0).sum())

_id             0
animal name     0
hair           56
feathers       78
eggs           41
milk           57
airborne       75
aquatic        61
predator       42
toothed        37
backbone       16
breathes       21
venomous       90
fins           80
legs           22
tail           24
domestic       84
catsize        54
type            0
dtype: int64

In [15]:
pymongoDf.describe(include='all')

,_id,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
count,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97.000000,97,97,97,97
unique,97,96,2,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,7
top,674fb7b85e1c45d09b0b1d68,frog,False,False,True,False,False,False,True,True,True,True,False,False,NaN,True,False,False,mammal
freq,1,2,56,78,56,57,75,61,55,60,81,76,90,80,NaN,73,84,54,40
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.835052,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.024230,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN