# EEET2574 | Assignment 2: Data Pipeline for Dutch Energy - Electricity

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pymongo
import pandas as pd
import numpy as np
import geopandas as gpd
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()

def get_env(envName):
    return os.environ.get(envName)

MONGO_URL = get_env('MONGO_URL') 
SPARK_CONNECTOR = get_env('SPARK_CONNECTOR')

print(MONGO_URL)
print(SPARK_CONNECTOR)

mongodb+srv://user1:123@cluster0.1xjq9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
org.mongodb.spark:mongo-spark-connector_2.12:10.4.0

## Data Ingestion

### Using PyMongo

In [3]:
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('asm2-test1')
collection = db['electricity']

data = collection.find()
df = pd.DataFrame(list(data))

In [4]:
df.reset_index()
df.head(5)

,_id,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,delivery_perc,perc_of_active_connections,%Defintieve aansl (NRM),type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,num_connections,company,year,STANDAARDDEVIATIE
0,675a5e7d225893945e307ff7,westland-infra,871687800090000015,OOSTEINDE,2291AA,2291AD,WATERINGEN,94.44,100.00,100.0,67.0,3x25,10244.0,94.44,0.0,18,westland-infra,2019,NaN
1,675a5e7d225893945e307ff8,westland-infra,871687800090000015,OOSTEINDE,2291AE,2291AE,WATERINGEN,100.00,100.00,100.0,92.0,3x25,3977.0,84.62,0.0,13,westland-infra,2019,NaN
2,675a5e7d225893945e307ff9,westland-infra,871687800090000015,WATERPARK,2291AK,2291AK,WATERINGEN,96.43,89.29,100.0,61.0,1x35,3794.0,100.00,0.0,28,westland-infra,2019,NaN
3,675a5e7d225893945e307ffa,westland-infra,871687800090000015,DRUIVENLAAN,2291AN,2291AT,WATERINGEN,100.00,100.00,100.0,91.0,3x25,7659.0,95.65,0.0,23,westland-infra,2019,NaN
4,675a5e7d225893945e307ffb,westland-infra,871687800090000015,KWAKLAAN,2291AV,2291AV,WATERINGEN,100.00,100.00,100.0,93.0,3x25,3520.0,100.00,0.0,15,westland-infra,2019,NaN

## Data EDA

In [16]:
print('==== Data Types ====')
print(df.dtypes)

==== Data Types ====
_id                              object
net_manager                      object
purchase_area                    object
street                           object
zipcode_from                     object
zipcode_to                       object
city                             object
delivery_perc                   float64
perc_of_active_connections      float64
%Defintieve aansl (NRM)         float64
type_conn_perc                  float64
type_of_connection               object
annual_consume                  float64
annual_consume_lowtarif_perc    float64
smartmeter_perc                 float64
num_connections                   int64
company                          object
year                             object
STANDAARDDEVIATIE                object
dtype: object

In [26]:
print(f"==== Shape ====")
print(df.shape)

print("==== Numeric Summary ====")
display(df.describe())

print(f'==== Duplicate Rows ====')
print(df.duplicated().sum())

==== Shape ====
(268277, 19)
==== Numeric Summary ====

,delivery_perc,perc_of_active_connections,%Defintieve aansl (NRM),type_conn_perc,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,num_connections
count,268277.000000,268277.000000,7399.0,268277.000000,268277.000000,268277.000000,268277.000000,268277.000000
mean,93.555226,98.010657,100.0,79.268298,3879.876300,88.760369,58.271967,24.918543
std,11.621118,8.053053,0.0,18.930513,3263.593038,17.237478,31.045590,18.622440
min,0.000000,0.000000,100.0,16.670000,0.000000,0.000000,0.000000,7.000000
25%,91.110000,100.000000,100.0,64.000000,2358.500000,84.380000,29.410000,16.000000
50%,100.000000,100.000000,100.0,85.000000,3069.000000,96.150000,67.650000,21.000000
75%,100.000000,100.000000,100.0,95.120000,4006.350000,100.000000,84.210000,27.000000
max,100.000000,100.000000,100.0,100.000000,110857.000000,100.000000,100.000000,1146.000000

==== Duplicate Rows ====
0

In [19]:
print('==== Null value ====')

temp = []
for col in df.columns:
  _isna = df[col].isna().sum()
  temp.append({
    'column': col,
    'isna': _isna,
    'percentage (%)': round(_isna/len(df)*100,2)
  })
  
display(pd.DataFrame(temp))

==== Null value ====

                          column    isna  percentage (%)
0                            _id       0            0.00
1                    net_manager       0            0.00
2                  purchase_area       0            0.00
3                         street       0            0.00
4                   zipcode_from       0            0.00
5                     zipcode_to       0            0.00
6                           city       0            0.00
7                  delivery_perc       0            0.00
8     perc_of_active_connections       0            0.00
9        %Defintieve aansl (NRM)  260878           97.24
10                type_conn_perc       0            0.00
11            type_of_connection       0            0.00
12                annual_consume       0            0.00
13  annual_consume_lowtarif_perc       0            0.00
14               smartmeter_perc       0            0.00
15               num_connections       0            0.00
16                       company       0            0.00
17                          year       0            0.00
18             STANDAARDDEVIATIE  181939           67.82

In [29]:
print('==== Zero value ====')

temp = []
for col in df.columns:
  _eq0 = df[col].eq(0).sum() 
  temp.append({
    'column': col,
    'zero value': _eq0,
    'percentage (%)': round(_eq0/len(df)*100,2)
  })

display(pd.DataFrame(temp))

==== Zero value ====

                          column  zero value  percentage (%)
0                            _id           0            0.00
1                    net_manager           0            0.00
2                  purchase_area           0            0.00
3                         street           0            0.00
4                   zipcode_from           0            0.00
5                     zipcode_to           0            0.00
6                           city           0            0.00
7                  delivery_perc         271            0.10
8     perc_of_active_connections         717            0.27
9        %Defintieve aansl (NRM)           0            0.00
10                type_conn_perc           0            0.00
11            type_of_connection           0            0.00
12                annual_consume          27            0.01
13  annual_consume_lowtarif_perc         204            0.08
14               smartmeter_perc       12467            4.65
15               num_connections           0            0.00
16                       company           0            0.00
17                          year           0            0.00
18             STANDAARDDEVIATIE           0            0.00

## Data Cleaning

In [ ]:
#

## Data Processing